@{
    ViewBag.Title = "Tere tulemast peole!";
}

<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: 'Georgia', serif;
            background-color: #FFFFFF;
        }

        .jumbotron {
            background-color: #5F9EA0; 
            color: white;
            text-align: center;
            padding: 30px;
            border-radius: 60px;
        }

            .jumbotron h1 {
                font-size: 38px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 5px; 
            }

        .jumbotron2 {
            font-size: 16px; 
            font-weight: normal; 
            letter-spacing: 2px; 
            color: #333333; 
        }

        .message {
            padding: 20px;
            background-color: #FFF5EE; 
            margin-top: 20px;
            text-align: center;
            border-radius: 30px;
            color: #2F4F4F; 
        }

        .btn-primary {
            background-color: #DB7093; 
            border-color: #DB7093; 
            color: white; 
        }

            .btn-primary:hover { /*Меняет на другой цвет при наведении*/
                background-color: #FFC0CB; 
                border-color: #FFC0CB; 
            }

        .img {
            width: 100%;
            text-align: center;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>@ViewBag.Greeting, Kallis sõber!</h1>
            <div class="jumbotron2">
                <p>Olete oodatud meie üritusele! Õhtul saab olema palju huvitavat!</p>
            </div>
        </div>
        <div class="message">
            <p>@ViewBag.Message</p>
        </div>
        <div class="img">
            <img src="~/Images/kutse.jpg" alt="Kutset pilt" />
        </div>
        <div class="text-center">
            @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
        </div>
    </div>
</body>
</html>
