@model Kuse_App.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div>
    <p> Tänan sind, @Model.Name</p>

</div>
<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>
            <img src="ˇ~/Images/kutse.png" />
        </p>
    }
    else
    {
        @:Väga kurb uudis.Mäeme hiljem!
        <p>
            <img src="ˇ~/Images/kutse.png" />
        </p>
    }
    @ViewBag.Message @*ViewBag.Message -отчет об отправке письма с приглашением *@
</div>